{% extends 'base.html' %}

{% block content %}
<div id='app' class="container">
    <form action='' enctype="multipart/form-data" method="POST" >
        {{ form.csrf_token() }}
        <ul class="list-group list-group-flush">
            {% for field in form if field.name not in ['csrf_token','submit'] %} 
            <li class="list-group-item d-flex justify-content-between">
                <strong>{{ field.label }}</strong>
                    {{ field(class_="form-control w-50") }}
            </li>
            {% endfor %}
        </ul>
        <div class="my-3 text-end">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock content %}
