{% extends 'base.html' %}

{% block custom_head %}
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
{% endblock custom_head %}

{% block content %}
<div id='app' class="container">
    <form action='' enctype="multipart/form-data" method="POST" >
        {{ form.csrf_token() }}
        <ul class="list-group list-group-flush">
            {% for field in form if field.name not in ['csrf_token','submit']%} 
            <li class="list-group-item d-flex justify-content-between">
                <strong>{{ field.label }}</strong>
                {# if field.name == 'collection' #}
                <!-- <select id="collection" class="form-control w-50" name="collection"> -->
                <!--     <option selected></option> -->
                <!--     <option v-for="item in collections" :value="item.id">[[ item.name ]]</option> -->
                <!-- </select> -->
                {# else #}
                    {{ field(class_="form-control w-50") }}
                {# endif #}
            </li>
            {% endfor %}
        </ul>
        <div class="my-3 text-end">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='main/add.js') }}"></script>
{% endblock content %}
