{% extends 'base.html' %}

{% block custom_head %}
{# include '_vue_script.html' #}
{% endblock custom_head %}

{% block content %}
<div id='app' class="container">
    <div class="row mb-3" v-show="link_back">
        <div class="d-flex justify-content-between">
            <a href="#" class="link-primary mx-3"@click="change_cur_cat()"><i class="bi bi-arrow-left" style="font-size:2rem;"></i></a>
            <input type="text" placeholder="Фильтр" v-model="filt">
        </div>
    </div>
    <div class="row mb-3" v-show="link_back">
        <div class="col">
            <div class="d-flex justify-content-start">
                <div class="mx-2">
                    <span>Фабрика:</span>
                    <select v-model="factory" class="form-select form-select-sm">
                        <option value="all">Все</option>
                        <option v-for="f in factories">[[ f ]]</option>
                    </select>
                </div>
                <div class="mx-2">
                    <span>Коллекция:</span>
                    <select v-model="collection" class="form-select form-select-sm">
                        <option value="all">Все</option>
                        <option v-for="c in collections">[[ c ]]</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4">
        <div v-for="item in paginated_data">
            <!-- <a :href="'/item/'+item.id" v-if="cur_cat==='product'" class="col m-2 border rounded shadow-sm p-2 text-center d-block" key="prod"> -->
            <a :href="'/item/'+item.id" v-if="cur_cat==='product'" class="col m-2 border rounded shadow-sm p-2 d-flex justify-content-between align-items-center link-dark text-decoration-none" key="prod" style="height:90px;">
                <div class="flex-shrink-0">
                    <img :src="'/static/images/'+item.sm_image_url"/>
                </div>
                <div class="flex-grow-1 ms-3">
                    [[ item.name ]]<br/>
                    <small class="text-muted">[[ item.article ]]</small>
                </div>
            </a>
            <a href="#" v-else class="col m-2 border rounded shadow-sm p-2 d-block link-dark text-decoration-none d-flex align-items-center" @click="get_items(item.id)" key="cat" style="height:90px;">
                <div class="text-center mx-auto">
                    <small class="text-muted">[[ item.id ]].</small>[[ item.name ]]
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 d-flex justify-content-center" v-if="page_count > 1">
                <button class="btn btn-primary btn-sm mx-3" type="button" @click="prev_page" :disabled="page_number < 1"> Назад </button>
                <button class="btn btn-primary btn-sm" type="button" @click="next_page" :disabled="page_count === page_number +1">Дальше</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='main/js/catalog.js') }}"></script>
{% endblock content %}
