{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-sm-4">
            <img class="rounded img-thumbnail" src="{{ url_for('static',filename='images/default.png') }}" alt="Изображение товара" />
        </div>         
        <div class="col-12 col-sm-8">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Фабрика:</strong></span>
                    <span>{{factory.name}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Страна:</strong></span>
                    <span>{{country.name}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Артикул:</strong></span>
                    <span>{{product.article}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Цена:</strong></span>
                    <span>{{product.price}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Количество в уупаковке:</strong></span>
                    <span>{{product.count}}</span>
                </li>
            </ul>
        </div>
    </div>
<div>
{% endblock content %}
