{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-sm-4">
            <img class="rounded img-thumbnail mx-auto d-block" src="{{ url_for('static',filename='images/'+ product.image_url) }}" alt="Изображение товара" />
        </div>         
        <div class="col-12 col-sm-8">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Фабрика:</strong></span>
                    <!-- <span>{#factory.name#}</span> -->
                    <span>{{product.factory}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Страна:</strong></span>
                    <span>{{country.name}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Артикул:</strong></span>
                    <span>{{product.article}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Размер:</strong></span>
                    <span>{{product.size}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Цена:</strong>*</span>
		    <span class="h4"><strong>{{price}} руб.</strong> /{{price_v.name}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span><strong>Количество в упаковке:</strong></span>
                    <span>{{product.count}}</span>
                </li>
            </ul>
	    <hr/>
	    <span><small class="text-muted">*В связи с неустойчивым курсом, цены могут отображаться некорректно. Уточняйте цену у менеджеров.<br/>Спасибо за понимание!<br/>** Оттенок цвета на образце может отличаться от фактического.</small></span>
        </div>
    </div>
<div>
{% endblock content %}
