{% extends 'base.html' %}

{% block custom_head %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='main/css/signin.css') }}">
{% endblock custom_head %}

{% block content %}
    <main class="form-signin text-center">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <h1 class="h2 mb-4">Вход</h1>
            <div class="row mb-3">
                <div class="col-1 mt-1">
                    <i class="bi bi-person-fill" style="font-size: 1.5rem;"></i>
                </div>
                <div class="col-11">
                    <!--<input type="text" class="form-control" placeholder="Username">-->
                    {{ form.username(class_="form-control", size=32, placeholder="Username") }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-1 mt-1">
                    <i class="bi bi-lock-fill" style="font-size: 1.5rem;"></i>
                </div>
                <div class="col-11">
                    <!--<input type="password" class="form-control" placeholder="Password">-->
                    {{ form.password(class_="form-control", size=32, placeholder="Password") }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    {{ form.remember_me() }}
                    <span class="pb-2"><small>{{ form.remember_me.label }}</small></span>
                </div>
            </div>
            <!--<button class="w-100 btn btn-primary" type="submit">Войти</button>-->
            {{ form.submit(class_="w-100 btn btn-primary") }}
        </form>
    </main>
{% endblock content %}
