{% extends 'base.html' %}

{% block custom_head %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock custom_head %}

{% block content %}
<div id="app" class="container my-3">
    <input id="ident" type="text" value="{{ ident }}" hidden/>
    <div class="row">
        <div class="col-12 col-sm-4">
            <img class="rounded img-thumbnail w-100" src="{{ url_for('static',filename='images/'+product.image_url) }}" alt="Изображение товара" />
            <form action="" class="my-3" enctype="multipart/form-data" method="POST">
                <div class="input-group input-group-sm">
                    {{ form.csrf_token() }}
                    {{ form.filename(class_="form-control", id="inputGroupFile") }}
                    {{ form.submit(class_="btn btn-primary", id="FileAddon") }}
                </div>
            </form>
        </div>         
        <div class="col-12 col-sm-8">
            <ul class="list-group list-group-flush">
                <li v-for="(value, name) in resp.product" class="list-group-item d-flex justify-content-between">
                    <!-- <div><strong>[[ value.title ]]</strong><a class="mx-1" v-if="select_list.includes(name)"><i class="bi bi-plus-circle"></i></a></div> -->
                    <strong>[[ value.title ]]</strong>
                    <select class="w-50 form-select"
                            type="text"
                             v-if="select_list.includes(name)"
                             v-model="resp.product[name].value"
                             @change="changes_flag=false">
                        <option v-for="val in items.items[name]" >[[ val ]]</option>
                    </select>
                    <input class="w-50" v-else-if="name === 'article'" type="text" v-model="resp.product[name].value" @change="changes_flag=false" readOnly="true"/>
                    <input class="w-50" v-else type="text" v-model="resp.product[name].value" @change="changes_flag=false"/>
                </li>
            </ul>
            <!-- <div class="text-end mt-3"> -->
            <div class="d-flex justify-content-between mt-3">
                <a href="/qr/{{ ident }}" class="btn btn-primary">QR-код</a>
                <button :disabled="changes_flag" @click="save()" class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='main/js/managed_item.js') }}"></script>
{% endblock content %}
