{% extends 'base.html' %}

{% block custom_head %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock custom_head %}

{% block content %}
<div id="app" class="container my-3">
    <input id="ident" type="text" value="{{ ident }}" hidden/>
    <div class="row">
        <div class="col-12 col-sm-4">
            <img class="rounded img-thumbnail" src="{{ url_for('static',filename='images/default.png') }}" alt="Изображение товара" />
            <form enctype=multipart/form-data>
                <input type=file>
                <input
            </form>
        </div>         
        <div class="col-12 col-sm-8">
            <ul class="list-group list-group-flush">
                <li v-for="(value, name) in product" class="list-group-item d-flex justify-content-between">
                    <strong>[[ value.title ]]</strong>
                    <select class="w-50 form-select" v-if="select_list.includes(name)" type="text" v-model="product[name].value">
                        <option v-for="val in items.items[name]" >[[ val ]]</option>
                    </select>
                    <input class="w-50" v-else type="text" v-model="product[name].value"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='main/js/managed_item.js') }}"></script>
{% endblock content %}
